In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_excel("C:/Users/Yusuf/Desktop/proje/machine learning/cars_fill_training.xlsx")

In [3]:
dataset.head()

,Boya_Degisen,Kasa_Tipi,Kilometre,Marka,Motor_Gucu,Vites_Tipi,Yakit_Tipi,Yil,Fiyat
0,3,1,89000,11,75,0,1,2015,615000
1,5,3,320000,19,100,0,3,1997,335000
2,0,3,209000,10,95,0,1,2016,560000
3,0,3,60000,13,97,0,3,2011,590000
4,0,1,47000,23,75,0,0,2018,589900

In [4]:
X = dataset.iloc[:, 0:8].values
y = dataset.iloc[:, 8].values
y = y.reshape(-1, 1)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [6]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(random_state=0)
regressor.fit(X_train, y_train)
y_predRF = regressor.predict(X_test)

C:\Users\Yusuf\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [7]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_predRF)
r2 = r2_score(y_test, y_predRF)

In [8]:
print(mse)
print(r2)

52608717103.177444
0.7720400058037127

In [9]:
import joblib
joblib.dump(regressor, "C:/Users/Yusuf/Desktop/proje/machine learning/cars_random_forest_model.pkl")

['C:/Users/Yusuf/Desktop/proje/machine learning/cars_random_forest_model.pkl']